:root {
  --color-primary: rgb(15, 13, 23);
  --color-secondary: rgb(68, 148, 62);
  --color-danger: red;
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-gray-1: rgb(202, 202, 202);

}
html{
    overflow: hidden ;
  }